@tailwind base;
@tailwind components;
@tailwind utilities;

.search-area{
    background: url('https://images2.minutemediacdn.com/image/fetch/w_2000,h_2000,c_fit/https%3A%2F%2Fblogoflegends.com%2Ffiles%2F2016%2F07%2FLeague-Of-Legends-Champions-08.jpg');
    background-position: 50% 25%;
    position: relative;
}
.search-area:before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}